.listElement {
    display: flex;
    justify-content: space-between;
}

.changeCity{
    display: flex;
    justify-content: left;
    cursor:pointer;
}

.deleteButton {
    display: flex;
    justify-content: flex-end;
}

.navbar-actions > * {
    margin-left: 1em;
}

.clickable {
    cursor: pointer;
}

.h4TwojeMiasta {
    display: flex;
    justify-content: space-around;
}

.citiesList {
    margin: 0 auto;
    width: 50%;
}

.addCity {
    margin: auto;
    width: 40%;
}

.h4addCity {
    display: flex;
    justify-content: space-around;
}

.row {
    width: 100%;
}

.usersData {
    margin: 0 auto;
    width: 40%;
}

.name {
    display: flex;
    justify-content: space-between;
    font-size: large;
}

.username {
    display: flex;
    justify-content: space-between;
    font-size: large;
}

.email {
    font-size: large;
    display: flex;
    justify-content: space-between;
}

.dbInfo {
    font-size: large;
    font-weight: bold;
}

.changePassword {
    margin: 0 auto;
    width: 30%;
}

.submitPass {
    display: flex;
    justify-content: space-between;
}

#passError {
    text-align: center;
}

