.listElement {
    display: flex;
    justify-content: space-between;
}

.changeCity{
    display: flex;
    justify-content: left;
    cursor:pointer;
}

.deleteButton {
    display: flex;
    justify-content: flex-end;
}

.navbar-actions > * {
    margin-left: 1em;
}

.clickable {
    cursor: pointer;
}

.h4TwojeMiasta {
    display: flex;
    justify-content: space-around;
}

.citiesList {
    margin: 0 auto;
    width: 50%;
}

.addCity {
    margin: auto;
    width: 40%;
}

.h4addCity {
    display: flex;
    justify-content: space-around;
}

