.listElement {
    display: flex;
    justify-content: space-between;
}

.changeCity{
    display: flex;
    justify-content: left;
    cursor:pointer;
}

.deleteButton {
    display: flex;
    justify-content: flex-end;
}

.navbar-actions > * {
    margin-left: 1em;
}

.clickable {
    cursor: pointer;
}

.h4TwojeMiasta {
    display: flex;
    justify-content: space-around;
}
